.App {
  display: block;
  background-color: #eee;
  height: 100vh;
  width: 100vw;
  border: 1px solid coral;
  font-size: 1vh;
}

.searchBarContainer {
  width: 80%;
  margin: 0 auto;
  justify-items: center;
  border: 1px solid brown;
}

.playlistCreationContainer {
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  width: 80%;
  height: 300px;
  border: 1px solid yellowgreen;
}

.searchResultsContainer {
  width: 40%;
  justify-items: center;
  border: 1px dashed orange;
}

.currentPlaylistContainer {
  width: 40%;
  justify-items: center;
  border: 1px dashed teal;
}

.savedPlaylistsContainer {
  justify-items: center;
}